<configuration>
    <!--Аппендеры -->
    <!--Файловый аппендер -->
    <appender name="SIZE_AND_TIME_BASED_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/botLog.%d{yyyy-MM-dd-HH-mm}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</Pattern>
        </encoder>
        <file>logs/botLog.log</file>
        <append>true</append>
    </appender>
    <!--Консольный аппендер -->
    <appender name="sout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>
    <!-- Логгеры -->
    <!-- Корневой логгер -->
    <logger name="TGBot" level="info" additivity="false">
        <appender-ref ref="SIZE_AND_TIME_BASED_FILE"/>
    </logger>

    <root level="info">
        <appender-ref ref="SIZE_AND_TIME_BASED_FILE"/>
    </root>
</configuration>